<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="container mx-auto px-4 bg-indigo-100 rounded-lg">
        <h1>{{ myapps.firstname }} {{ myapps.lastname }}</h1>
  
        <p>payment date: {{ myapps.paymentDate }}</p>
        <p>your receipt number : {{ myapps.receiptNumber }}</p>

        <p>Back to <a href="/members">Members</a></p>
    </div>
    
</body>
</html>